* {
    margin: 0;
    padding: 0;
    /* Custom Colors */
    --charcoal: rgb(49, 49, 49);
    /* Heading and Text colors */
    --bg-color: azure;
    --title-color: var(--charcoal);
    --list-color: var(--charcoal);
    --ingredients-color: black;
    --mis-color: black;
    --procedure-color: black;
}

.recipe-container {
    background-color: var(--bg-color);
    display: flex;
    flex-flow: column;
    padding: 30px;
}

.recipe-header {
    display: flex;
    flex-flow: column;
    padding: 30px;
    margin: 50px 100px;
}

h2 {
    font-family: sans-serif;
    letter-spacing: 0.2ch;
    font-size: 48px;
    color: var(--title-color);
}

ul {
    margin: 30px;
    list-style: none;
}

li {
    color: var(--list-color);
    font-size: 18px;
    font-family: monospace;
    line-height: 1.5;;
}

.shopping-item,
.hardware-item {
    font-family: serif;
}

.recipe-pic {
    width: 100%;
    margin: 0 auto;
    display: inline;
    height: max-content;
    width: max-content;
    text-align: center;
}

#recipe-pic {
    justify-self: center;
    align-self: center;
}


