*, html, body {
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    --index-card-shadow: drop-shadow(10px 15px 5px #000000);
    --index-card-shadow-2: drop-shadow(3px 5px 2px #000000);
    --index-card-shadow-3: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.4));
    --index-card-shadow-4: drop-shadow(8px 8px 2px rgba(78, 78, 78, 0.4));
}

.search-window {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -325px;
    top: 0;
    transition: left 200ms ease-in-out 500ms;
    background-color: lightcoral;
    height: 100%;
    padding: 10px 30px 10px 15px;
    align-items: flex-start;
}

.search-window:hover {
    left: 0;
}

.search-tab {
    position: absolute;
    right: 5px;
    top: 40%;
    padding-right: 3px;
}

.search-tab h6 {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    letter-spacing: 0.25ch;
    font-family: "Chivo";
    font-size: 16px;
    font-weight: 400;
}

.search-tab img {
    transform: translate(-50% -50%);
    width: 28px;
    height: auto;
}

#recipe-search {
    background-color: lightskyblue;
    background-image: url('/css/search-icon-3.webp');
    font-family: "Roboto Slab";
    background-blend-mode: soft-light;
    background-position: 15px 18px;
    background-repeat: no-repeat;
    background-size: 10%;
    border: 2px solid black;
    border-radius: 10px;
    width: 60%;
    height: 40px;   
    font-size: 18px;
    padding: 12px 20px 12px 60px;
    margin: 0 0 12px 0;
}

#recipe-search:active {
    border: 0px;
}

#recipe-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
    width: 300px;
    font-family: "Roboto Slab";
    align-items: flex-start;
}

#recipe-list li {
    text-align: center;
    height: max-content;
    width: 80%;
    letter-spacing: 0ch;
    font-weight: 400;
    padding: 0;
    filter: drop-shadow(0px 0px 0px black);
    transition:     width 350ms, 
                    height 350ms,
                    letter-spacing 350ms, 
                    font-weight 350ms,
                    filter 350ms,
                    padding 350ms;
}

#recipe-list li:hover {
    width: 90%;
    letter-spacing: 0.2ch;
    font-weight: 800;
    padding: 8px;
    filter: var(--index-card-shadow-3);
}

#recipe-list li a {
    border: 1px solid black;
    border-radius: 10px;
    display: block;
    margin-top: -1px;
    background-color: azure;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    /* margin-bottom: 2px; */
}

#recipe-list li a:hover:not(.header) {
    background-color: rgb(0, 255, 221);
}