/* 100% hand-coded on Planet Earth */

* {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    /* Custom Colors */
    --charcoal: rgb(49, 49, 49);
    --charcoal-2: #36454F;
    --beef-red: rgb(168, 0, 0);
    --index-card-bg: #e9d7be;
    --lettuce: #CDE6A5;
    --avocado: #568203;
    /* Global colors */
    --link-hover-color: rgba(255, 68, 0, 0.856);
    --link-active-color: rgba(255, 163, 130, 0.856);
    /* Background Images */
    --hero-bg-1: url('../assets/sweet-pot-1.jpg');
    --hero-bg-2: url('../assets/sweet-pot-2.jpg');
    --hero-bg-3: url('../assets/sweet-pot-3.jpg');
    --hero-bg-4: url('../assets/shrimp-tostada-1.jpg');
    --hero-bg-5: url('../assets/shrimp-tostada-2.jpg');
    /* RECIPE PICS */
    --beef-1-pic: url('/assets/recipes/meatloaf-1.jpg');
    --beef-2-pic: url('/assets/recipes/chili-1.jpg');
    --beef-3-pic: url('/assets/recipes/short-ribs-1.jpg');
    /* Background Colors */
    --header-bg: var(--lettuce);
    --categories-bg: var(--header-bg);
    --title-bg: var(--avocado);
    --beef-bg: var(--beef-red);
    --seafood-bg: #006994 ;
    --marinades-bg: #F0CA28;
    --breads-bg: #b78b43;
    /* Card Colors */
    --more-card-bg: var(--title-bg);
    --beef-card-bg: var(--charcoal-2);
    --beef-card-border: var(--charcoal);
    --beef-card-sections: rgb(236, 218, 183);
    /* GLOBAL Variables */
    --index-card-shadow: drop-shadow(10px 15px 5px #000000);
    --index-card-shadow-2: drop-shadow(3px 5px 2px #000000);
    --index-card-shadow-3: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.4));
}

#no-display {
    display: none;
}

/* Up Button */
#upBtn {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px;
    z-index: 10;
    border: 3px solid var(--charcoal);
    outline: none;
    background-color: var(--beef-red);
    color: whitesmoke;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
#upBtn:hover {
    background-color: var(--link-hover-color);
}
#upBtn:active {
    background-color: var(--link-active-color);
}

/* Header Section */
.header {
    display: none;
}

h1.title {
    color: whitesmoke;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    letter-spacing: 0.10ch;
    background-color: var(--title-bg);
    padding: 20px 0;
}

/* Main Body */
.main-section {
    background-color: var(--categories-bg);
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

  /* TABS */
  .tabs-header {
    padding-top: 30px;
    width: 90%;
}

.tab-list {
    margin-bottom: -10px;
}

.tab-list li {
    font-family: "Roboto Slab", sans-serif;
    letter-spacing: 0.15ch;
    display: inline-flex;
    width: auto;
    padding: 20px 15px;
    border-radius: 8px 8px 0 0;
    margin: 0 7px 0 0;
    filter: var(--index-card-shadow-2);
}

.tab-list .active {
    filter: var(--index-card-shadow);
}

#welcome-tab {
    background-color: var(--index-card-bg);
}
#beef-tab {
    background-color: var(--beef-bg);
}
#breads-tab {
    background-color: var(--breads-bg);
}
#marinades-tab {
    background-color: var(--marinades-bg);
}
#seafood-tab {
    background-color: var(--seafood-bg);
}

#beef-tab a,
#breads-tab a,
#seafood-tab a {
    color: white;
}
#welcome-tab a,
#marinades-tab a {
    color: inherit;
}

.tab-list a:hover {
    text-decoration: overline;
    color: var(--link-hover-color);
}

.tab-list a:active {
    color: var(--link-active-color);
    text-decoration: none;
}

li.active a {
    text-decoration: none;
    font-weight: 800;
    font-size: 120%;
}

.card {
    background-color: var(--beef-card-bg);
    display: block;
    position: absolute;
    /* flex-flow: row; */
    /* width: 3500px;  */
    height: 300px;
    color: black;
    margin: 0 10px;
    filter: var(--index-card-shadow-3);
    border-radius: 10px;
} 