/* 100% hand-coded on Planet Earth */

/* TABLE OF CONTENTS */
/*  1 -- Global Selections
        1-A -- variables
        1-B -- up button
    2 -- General Slide selectors
    3 -- Tabs and Panels
    4 -- Recipe Card Template
        4-A -- overlay
    5 -- Header
    6 -- Main Section 
        6-A -- Category Backgrounds
        6-B -- Welcome Card*/

/* 1 -- Global Selections */
/* 1-A -- variables */
*, 
html, 
body {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    /* Custom Colors */
    --charcoal: rgb(49, 49, 49);
    --charcoal-2: #36454F;
    --beef-red: rgb(168, 0, 0);
    --index-card-bg: #E0C9A6;
    --lettuce: #CDE6A5;
    --avocado: #568203;
    /* Global colors */
    --universal-slide-bg-color: whitesmoke;
    --link-hover-color: rgba(255, 68, 0, 0.856);
    --link-active-color: rgba(255, 163, 130, 0.856);
    /* Background Images */
    --hero-bg-1: url('../assets/sweet-pot-1.jpg');
    --hero-bg-2: url('../assets/sweet-pot-2.jpg');
    --hero-bg-3: url('../assets/sweet-pot-3.jpg');
    --hero-bg-4: url('../assets/shrimp-tostada-1.jpg');
    --hero-bg-5: url('../assets/shrimp-tostada-2.jpg');
    /* RECIPE PICS */
    --beef-1-pic: url('../assets/recipes/meatloaf-1.jpg');
    --beef-2-pic: url('../assets/recipes/chili-1.jpg');
    --beef-3-pic: url('../assets/recipes/short-ribs-1.jpg');
    /* Background Colors */
    --header-bg: var(--lettuce);
    --categories-bg: var(--header-bg);
    --title-bg: var(--avocado);
    --beef-bg: var(--beef-red);
    --seafood-bg: #006994 ;
    --marinades-bg: #F0CA28;
    --breads-bg: #b78b43;
    /* Card Colors */
    --more-card-bg: var(--title-bg);
    --beef-card-bg: var(--index-card-bg);
    --beef-card-border: var(--charcoal);
    --beef-card-sections: rgb(236, 218, 183);
    /* GLOBAL Variables */
    --index-card-shadow: drop-shadow(10px 15px 5px #000000);
    --index-card-shadow-2: drop-shadow(3px 5px 2px #000000);
    --index-card-shadow-3: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.4));
}

#no-display {
    display: none;
}

/* 1-B -- Up Button */
#upBtn {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px;
    z-index: 10;
    border: 3px solid var(--charcoal);
    outline: none;
    background-color: var(--beef-red);
    color: whitesmoke;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}
#upBtn:hover {
    background-color: var(--link-hover-color);
}
#upBtn:active {
    background-color: var(--link-active-color);
}

/* 2 -- General Slide Selectors */
.slide-viewer {
    position: relative;
    overflow: hidden;
    height: 63vh;
    width: calc(100vw - 180px);
    display: flex;
}

.slide-group {
    width: 100%;
    height: 100%;
    position: relative;
    
}

.slide {
    width: 60vw;
    height: 90%;
    background-color: var(--universal-slide-bg-color);
    /* width: 100%;
    height: 100%; */
    display: none;
    position: absolute;
    font-family: sans-serif;
    padding: 1% 2%;
    border-radius: 10px;
    filter: var(--index-card-shadow-3);
}

.slide:first-child {
    display: block;
}

.slider {
    margin: 2%;
    display: flex;
    justify-content: space-around;
}

.slider-container {
    width: 100%;
}

.slide-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: 20px;
    margin-right: 100px;;
}

.slide-btn {
    background-color: var(--avocado);
    align-self: center;
    height: 10px;
    width: 15px;
}

.slide-btn.active {
    background-color: limegreen;
    transform: scale(2);
}

/* 3 -- Tabs and Panels */
.tabs-header {
    padding-top: 30px;
    width: 90%;
}

.tab-list {
    margin-bottom: -10px;
}

.tab-list li {
    font-family: "Roboto Slab", sans-serif;
    letter-spacing: 0.15ch;
    display: inline-flex;
    width: auto;
    padding: 20px 15px;
    border-radius: 8px 8px 0 0;
    margin: 0 7px 0 0;
    filter: var(--index-card-shadow-2);
}

.tab-list .active {
    filter: var(--index-card-shadow);
}

#welcome-tab {
    background-color: var(--index-card-bg);
}
#beef-tab {
    background-color: var(--beef-bg);
}
#breads-tab {
    background-color: var(--breads-bg);
}
#marinades-tab {
    background-color: var(--marinades-bg);
}
#seafood-tab {
    background-color: var(--seafood-bg);
}

#beef-tab a,
#breads-tab a,
#seafood-tab a {
    color: white;
}
#welcome-tab a,
#marinades-tab a {
    color: inherit;
}

.tab-list a:hover {
    text-decoration: overline;
    color: var(--link-hover-color);
}

.tab-list a:active {
    color: var(--link-active-color);
    text-decoration: none;
}

li.active a {
    text-decoration: none;
    font-weight: 800;
    font-size: 120%;
}

.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
    position: relative;
    width: 90vw;
    height: 70vh;
    border-radius: 10px;
}

/* 4 -- Recipe Card Template */
.recipe-card {
    /* background-color: var(--beef-card-bg); */
    display: flex;
    flex-flow: column;
    position: relative;
    height: 100%;
    width: 100%;
    color: black;
    border-radius: 10px;
    align-items: flex-start;
    /* justify-content: space-between; */
} 

.recipe-header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.recipe-title {
    color: black;
    font-family: sans-serif;
    letter-spacing: 0.15ch;
    margin-left: 10px;  
}

.recipe-title h3 {
    font-size: 1.75em;
    font-family: "Roboto Slab", sans-serif;
    letter-spacing: 0.15ch;
}

.recipe-details {
    /* padding: 10px; */
    /* background-color: rgb(197, 177, 148); */
}

.recipe-details li {
    font-size: 12px;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 600;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 5px 5px 5px 20px;
    letter-spacing: 0.15ch;
}

.recipe-detail {
    color: maroon;
    padding: 0 0.75ch;
}

.recipe-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.recipe-pic {
    width: 50%;
    height: 90%;
    /* min-height: 240px;
    max-height: 300px; */
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: var(--index-card-shadow-2);
    /* border: 4px dashed black; */
    /* : 15px 0; */
    /* background-color: blanchedalmond; */
}

.ingredients-hardware {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    /* background-color: blanchedalmond; */
    padding: 0 20px;
    justify-content: center;
}

.ingredients-hardware h3 {
    display: inline;
    font-family: "Roboto Slab", sans-serif;
}

.ingredients-hardware ul {
    height: 100%;
    display: inline;
    flex-direction: column;
    flex-wrap: wrap;
}

.ingredients-hardware li {
    display: inline-flex;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}

.ingredients li,
.hardware li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ingredients-hardware h4 {
    display: block;
    width: 100%;
}

li.shopping-item,
li.hardware-item {
    display: inline;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

.hardware {
    margin-top: 20px;
}

/* 4-A -- overlay */
.overlay {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(255, 136, 0, 0.55);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .overlay {
    visibility: visible;
    animation: fade 500ms;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.open-recipe-btn {
    text-decoration: none;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    color: blue;
    font-family: sans-serif;
    letter-spacing: 0.1ch;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}

.open-recipe-btn:hover {
    color: #FFF;
    background-color: rgba(255, 68, 0, 0.6);
    transition: all ease 300ms;
}

.open-recipe-btn:active {
    background-color: deeppink;
}

/* 5 -- Header Section */
.header {
    display: none;
}

h1.title {
    color: whitesmoke;
    text-align: center;
    font-family: sans-serif;
    font-size: 50px;
    letter-spacing: 0.10ch;
    background-color: var(--title-bg);
    padding: 20px 0;
}

/* 6 -- Main Body */
.main-section {
    background-color: var(--categories-bg);
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

/* 6-A -- Category Backgrounds */
#welcome {
    background-color: var(--index-card-bg);
}
#beef {
    background-color: var(--beef-bg);
}
#breads {
    background-color: var(--breads-bg);
}
#marinades {
    background-color: var(--marinades-bg);
}
#marinades h2 {
    color: var(--charcoal);
}
#seafood {
    background-color: var(--seafood-bg);
}

/* 6-B -- Welcome Card */
#welcome-text {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#welcome-text h3 {
    font-family: "Roboto Slab", serif;
    color: var(--avocado);
    font-size: 5em;
    margin: 25px;
    text-align: center;
    filter: var(--index-card-shadow-3);
    font-weight: 700;
    justify-content: center;
}










/* RECIPE PICS */
#beef-1-pic {
    background-image: var(--beef-1-pic);
}

#beef-2-pic {
    background-image: var(--beef-2-pic);
}

#beef-2-pic {
    background-image: var(--beef-2-pic);
}

#beef-3-pic {
    background-image: var(--beef-3-pic);
}

/* SLIDER */
#marinades h3 {
    color: var(--charcoal);
}
#seafood h3 {
    color: whitesmoke;
}



