/* 100% hand-coded on Planet Earth */

/* TABLE OF CONTENTS */
    /* 1 -- Global Concerns */
    /* 1-A -- Global Variables */
    /* 1-B -- Index Bar */
    /* 1-C -- Up Button */
    /* 2 -- Header Section */
    /* 3 -- General Slide Selectors */
    /* 4 -- Tabs & Panels */
    /* 5 -- Recipe Card Preview Template */
    /* 5-A -- Recipe Card Preview Container */
    /* 5-B -- Recipe Card Header */
    /* 5-C -- Recipe Card Body */
    /* 5-D -- Overlay */
    /* 6 -- Main Preview Section  */
    /* 6-A -- Welcome Card */
    /* 6-B -- Recipe images */
    /* 6-C -- Secrets panel */
    /* 7 -- Recipe Display Section */
    /* 7-A -- Recipe Display Container */
    /* 7-B -- Recipe Header Row 1 */
    /* 7-C -- Recipe Body Rows 2-4 */
    /* 8 -- Master Index Section */
/* END TABLE OF CONTENTS */

/* 1 -- GLOBAL SELECTORS */
/* 1-A -- Variables */
*, 
html, 
body {
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    /* Custom Colors */
    --charcoal: rgb(49, 49, 49);
    --charcoal-2: #36454F;
    --beef-red: rgb(168, 0, 0);
    --beef-red-2: rgb(112, 0, 0);
    --index-card-bg: #f3ddbd;
    --index-card-bg-2: #a59276;
    --lettuce: #CDE6A5;
    --avocado: #568203;
    --pink-frosting: #db7179;
    --pink-frosting-2: #9c4d55;
    --ocean: #006994;
    --ocean-2: #004d6b;
    --bread: #eee1cf;
    --bread-2: #a38047;
    --soup: #F0CA28;
    --soup-2: #a78d1b;
    --grape: rgb(187, 125, 231);
    --grape2: rgb(223, 191, 245);
    --salmon: rgb(253, 146, 134);
    --hilighter: rgb(255, 255, 0);

    /* Global colors */
    --universal-slide-bg-color: whitesmoke;
    --link-hover-color: rgb(255, 68, 0);
    --link-active-color: rgba(255, 163, 130, 0.856);

    /* Background Images */
    --up-button: url('../img/up-button.png');
    --up-button-2: url('../img/up-button-red.png');
    --up-button-3: url('../img/up-button-3.png');
    --down-button: url('../img/down-button.png');
    --down-button-2: url('../img/down-button-red.png');
    --down-button-3: url('../img/down-button-3.png');
    --hero-bg-1: url('../assets/sweet-pot-1.jpg');
    --hero-bg-2: url('../assets/sweet-pot-2.jpg');
    --hero-bg-3: url('../assets/sweet-pot-3.jpg');
    --hero-bg-4: url('../assets/shrimp-tostada-1.jpg');
    --hero-bg-5: url('../assets/shrimp-tostada-2.jpg');
    --search-icon-1: url('../css/search-icon.png');
    --search-icon-2: url('../css/search-icon-2.svg');
    --search-icon-3: url('../css/search-icon-3.png');
    --welcome-bg: url('../assets/welcome.png');
    --construction: url('../assets/construction.jpg');

    /* RECIPE PICS */
    --beef-1-pic: url('../assets/recipes/meatloaf-1.jpg');
    --beef-2-pic: url('../assets/recipes/chili-1.jpg');
    --beef-3-pic: url('../assets/recipes/short-ribs-1.jpg');
    --bread-1-pic: url('../assets/recipes/biscuits-1.jpg');
    --bread-2-pic: url('../assets/recipes/challah-1.jpg');
    --bread-3-pic: url('../assets/recipes/langos-1.jpg');
    --dessert-1-pic: url('../assets/recipes/cannoli.jpg');
    --dessert-2-pic: url('../assets/recipes/cookies.jpg');
    --dessert-3-pic: url('../assets/recipes/panna-cotta-1.jpg');
    /* --seafood-1-pic: url('../assets/recipes/-1.jpg'); */
    /* --seafood-2-pic: url('../assets/recipes/-1.jpg'); */
    /* --seafood-3-pic: url('../assets/recipes/-1.jpg'); */
    --soup-1-pic: url('../assets/recipes/cauliflower-soup.jpg');
    --soup-2-pic: url('../assets/recipes/potato-leek.jpg');
    --soup-3-pic: url('../assets/recipes/shrimp-bisque.jpg');

    /* Background Colors */
    --header-bg: var(--avocado);
    --categories-bg: var(--lettuce);
    --title-bg: var(--avocado);
    --beef-bg: var(--beef-red);
    --seafood-bg: var(--ocean);
    --seafood-bg-2: var(--ocean-2);
    --soups-bg: var(--soup);
    --soups-bg-2: var(--soup-2);
    --desserts-bg: var(--pink-frosting);
    --desserts-bg-2: var(--pink-frosting-2);
    --breads-bg: var(--bread);
    --breads-bg-2: var(--bread-2);
    --secrets-bg: var(--charcoal);
    --tag-bg: var(--hilighter);
    /* Card Colors */
    --more-card-bg: var(--title-bg);
    --beef-card-bg: var(--index-card-bg);
    --beef-card-border: var(--charcoal);
    --beef-card-sections: rgb(236, 218, 183);

    /* GLOBAL Variables */
    --index-card-shadow: drop-shadow(10px 15px 5px #000000);
    --index-card-shadow-2: drop-shadow(3px 5px 2px #000000);
    --index-card-shadow-3: drop-shadow(8px 8px 2px rgba(0, 0, 0, 0.5));
    --index-card-shadow-4: drop-shadow(8px 8px 2px rgba(126, 126, 126, 0.4));
    --tag-shadow: drop-shadow(5px 5px 2px rgba(126, 126, 126, 0.4));
    --open-recipe-btn-active: rgb(98, 0, 98);
    --open-recipe-btn-hover: rgba(255, 68, 0, 0.7);
    --open-recipe-btn: rgba(173, 216, 230, 1);
}

body {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-self: center;
    align-items: center;
    background-color: var(--lettuce);
}

a {
    color: inherit;
}

h5 {
    font-family: "chivo";
    font-weight: 700;
    font-size: 1em;
    margin: 15px;
}

#no-display {
    display: none;
}

.construction-panel {
    display: flex;
    background-image: var(--construction);   
    background-size: cover;
    background-position: bottom;
    height: 50%;
    align-self: center;
    width: 90%;
    justify-content: center;
    opacity: 75%;
}

h1.construction-text {
    display: flex;
    position: absolute;
    align-self: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 4em;
    font-weight: 700;
    background-color: orangered;
    letter-spacing: 0.2ch;
    padding: 15px;
    text-align: center;
    width: 80%;
}
/* END 1-A -- GLOBAL VARIABLES */

/* 1-B -- INDEX BAR */
.index-window-700 {
    display: none;
}

.index-window {
    display:  flex;
    flex-direction: column;
    position: fixed;
    left: -330px;
    transition: left 500ms ease-in-out 200ms;
    background-color: var(--avocado);
    height: 100%;
    padding: 30px 30px 10px 30px;
    align-items: flex-start;
    z-index: 100;
}

.index-window:hover {
    left: 0;
}

.index-tab {
    position: absolute;
    right: 8px;
    top: 30%;
}

.index-tab h6 {
    writing-mode: vertical-lr;
    text-orientation: sideways;
    letter-spacing: 0.5ch;
    font-family: "roboto slab";
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
    /* margin-right: 20px; */
}

.index-tab img {
    transform: translate(-50% -50%);
    width: 28px;
    height: auto;
}

#recipe-search, 
#recipe-search-700 {
    background-color: var(--lettuce);
    background-image: var(--search-icon-3);
    font-family: "Roboto Slab";
    background-blend-mode: soft-light;
    background-position: 15px 18px;
    background-repeat: no-repeat;
    background-size: 10%;
    border: 2px solid black;
    border-radius: 10px;
    width: 60%;
    height: 40px;   
    font-size: 18px;
    padding: 12px 20px 12px 60px;
    margin: 0 0 12px 0;
}

#recipe-search:active {
}

#recipe-search:focus, 
#recipe-search-700:focus {
    border: 5px solid var(--seafood-bg);
}

#recipe-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
    width: 300px;
    font-family: "Roboto Slab";
    align-items: flex-start;
}

#recipe-list li {
    text-align: center;
    height: max-content;
    width: 80%;
    letter-spacing: 0.15ch;
    font-weight: 400;
    padding: 0;
    filter: drop-shadow(0px 0px 0px black);
    transition:     width 350ms, 
                    height 350ms,
                    font-weight 350ms,
                    filter 150ms,
                    padding 350ms;
}

#recipe-list li:hover {
    width: 90%;
    font-weight: 800;
    padding: 8px;
    filter: var(--index-card-shadow-3);
}

#recipe-list li a {
    border: 2px solid black;
    border-radius: 10px;
    display: block;
    margin-top: -2px;
    background-color: honeydew;
    padding: 12px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    /* margin-bottom: 2px; */
}

#recipe-list li a:hover {
    background-color: rgb(255, 255, 0);
}

#recipe-list li:active {
    /* padding: unset; */
    filter: unset;
}
#recipe-list li a:active {
    background-color: gold;
}
/* END 1-B -- INDEX BAR */

/* 1-C -- UP BUTTON */
.up-button, 
.down-button {
    display: flex;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 2vw;
}

#upBtn, 
#downBtn {
    /* background-color: var(--beef-red); */
    display: flex;
    border-radius: 50%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: none; 
    z-index: 100;
    justify-content: center;
    align-items: stretch;
    outline: none;
    cursor: pointer;
    letter-spacing: 0.25ch;
    color: whitesmoke;
    filter: var(--index-card-shadow-4);
    transition: transform 150ms;
}

#upBtn {
    background-image: var(--up-button-3);
    top: 2vh;
}

#downBtn {
    background-image: var(--down-button-3);
    top: 9vh;
}

#upBtn:hover, 
#downBtn:hover {
    /* background-color: var(--link-hover-color); */
    color: black;
    filter: var(--index-card-shadow-3);
}

#upBtn:active,
#downBtn:active {
    /* background-color: var(--link-active-color); */
    filter: invert();
    transform: translate(0, 5px);
    background-color: gold;
    filter: invert(75%);
}

/* END 1-C -- UP BUTTON */

/* END 1 -- GLOBAL CONCERNS */

/* 2 -- HEADER SECTION */
.header {
    display: none;
    background-color: var(--header-bg);
}

h1.title {
    text-align: left;
    font-family: "Roboto Slab";
    font-size: 4.25vw;
    letter-spacing: 0.20ch;
    border-bottom: none;
}
/* END 2 -- HEADER SECTION */

/* 3 -- General Slide Selectors */
.slide-viewer {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.slide-group {
    display: flex;
    width: 100%;
    position: relative;
}

.slide {
    background-color: var(--universal-slide-bg-color);
    display: flex;
    position: absolute;
    flex-flow: column;
    align-items: center;
    align-self: center;
    width: 95%;
    height: 68vh;
    padding: 1% 2%;
    border-radius: 10px;
    filter: var(--index-card-shadow-3);
}

.slide:first-child {
    display: block;
}

.slider {
    display: flex;
    height: 100%;
    width: 95%;
    /* justify-content: center; */
    flex-flow: column;
}

.slider-container {
    width: 100%;
    display: flex;
    align-items: flex-end;
    height: max-content;
}

.slide-buttons-container {
    height: 3vw;
    display: flex;
    align-items: flex-end;
}

.slide-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-end;
    width: 100%;
}

.slide-btn:hover {
    cursor: pointer;
}

.slide-btn {
    background-color: var(--charcoal);
    align-self: center;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    margin: 0 10px;
}

.slide-btn.active {
    background-color: whitesmoke;
    /* transform: scale(2); */
    /* transform: scale(0.25); */
}
/* END 3 -- GENERAL SLIDE SELECTORS */

/* 4 -- TABS AND PANELS */
.tabs-header {
    /* padding-top: 30px; */
    width: 90%;
}

.tab-list {
    margin-bottom: -10px;
    display: flex;
}

.tab-list li {
    font-family: "Roboto Slab", sans-serif;
    letter-spacing: 0.2ch;
    display: inline-flex;
    padding: 20px 15px;
    border-radius: 8px 8px 0 0;
    margin: 0 7px 0 0;
    filter: var(--index-card-shadow-2);
    font-size: 1.5em;
}

.tab-list .active {
    filter: var(--index-card-shadow);
}

.tab {
    flex: 1 2 auto;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

#welcome-tab {
    background-color: var(--index-card-bg);
}
#beef-tab {
    background-color: var(--beef-bg)
}
#breads-tab {
    background-color: var(--breads-bg)
}
#desserts-tab {
    background-color: var(--desserts-bg)
}
#seafood-tab {
    /* display: none; */
    background-color: var(--seafood-bg)
}
#soups-tab {
    background-color: var(--soups-bg)
}
#secrets-tab {
    background-color: var(--secrets-bg);
    color: whitesmoke;
    margin-left: 5%;
}
#welcome {
    background-image: linear-gradient(var(--index-card-bg), var(--index-card-bg-2));
    overflow: hidden;
}
#welcome-img {
    background-image: var(--welcome-bg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    width: 100%;
    height: 100%;
}
#beef {
    background-image: linear-gradient(var(--beef-red), var(--beef-red-2));
}
#breads {
    background-image: linear-gradient(var(--breads-bg), var(--breads-bg-2));
}
#desserts {
    background-image: linear-gradient(var(--desserts-bg), var(--desserts-bg-2));
}
#seafood{
    background-image: linear-gradient(var(--seafood-bg), var(--seafood-bg-2));
}
#soups{
    background-image: linear-gradient(var(--soups-bg), var(--soups-bg-2));
}
#secrets {
    background-image: linear-gradient(var(--secrets-bg), black);
    color: whitesmoke;
}

#beef-tab a,
#desserts-tab a,
#seafood-tab a {
    color: white;
}
#welcome-tab a,
#breads-tab a,
#soups-tab a {
    color: var(--charcoal);
}

.tab-list a:hover {
    text-decoration: overline;
    color: var(--link-hover-color);
}

.tab-list a:active {
    color: var(--link-active-color);
    text-decoration: none;
}

.tab-list .active a:hover{
    cursor: default;
}

.tabs-header li.active a {
    text-decoration: none;
    font-weight: 800;
    font-size: 120%;
}

.tab-panel {
    display: none;
}

.tab-panel.active {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 90%;
    height: 83vh;
    border-radius: 10px;
    filter: var(--index-card-shadow);
    margin-bottom: 30px;
}
/* END 4 -- TABS & PANELS */

/* 5 -- RECIPE CARD PREVIEW TEMPLATE */
/* 5-A -- RECIPE CARD PREVIEW CONTAINER */
.recipe-card {
    display: flex;
    flex-flow: column;
    position: relative;
    /* height: 100%; */
    width: 100%;
    color: black;
    border-radius: 10px;
    justify-content: flex-start;
    height: 100%;
} 
/* END 5-A -- RECIPE CARD PREVIEW CONTAINER */

/* 5-B -- RECIPE CARD HEADER */
.recipe-header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.recipe-header h3 {
    /* background-color: black; */
    display: flex;
    width: 100%;
}

.with {
    font-size: 0.5em;
    font-weight: 400;
    align-self: center;
}

.recipe-header #recipe-name.recipe-display-title {
    /* background-color: var(--hilighter); */
    width: 100%;
}

#recipe-name.recipe-display-title {
    border-bottom: unset;
    /* justify-self: center; */
    align-self: center;
    width: 40vw;
    flex-wrap: wrap;
    padding: 15px;
}

.recipe-title {
    display: flex;
    /* justify-content: flex-start; */
    margin-bottom: 10px;
}

#recipe-name > h1 {
    font-size: 3vw;
}

h3 {
    /* width: fit-content; */
    margin: 0;
    padding: 0;
}

.recipe-details {
    display: flex;
    width: 100%;
    border-bottom: 3px dotted black;
}

.recipe-details ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 100%;
}

.recipe-details li {
    font-family: "Roboto Slab", sans-serif;
    font-weight: 600;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.25vw;
    letter-spacing: 0.2ch;
}

.recipe-details ul {
    margin-bottom: 0.75vw;
}

.recipe-detail {
    color: maroon;
    padding: 0 1ch 0 0.5ch;
}
/* END 5-B -- RECIPE CARD HEADER */

/* 5-C -- RECIPE CARD BODY */
.recipe-body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
    /* max-height: min-content; */
}

.recipe-pic {
    width: 85%;
    height: 100%;
    /* height: 90%; */
    /* min-height: 240px;
    max-height: 300px; */
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    filter: var(--index-card-shadow-2);
    align-self: center;
    padding: 0;
    margin: 2vw;
}

.ingredients-hardware {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    /* padding: 0 20px 0 0; */
    align-self: center;
    justify-content: center;
}

.ingredients-hardware h4 {
    display: inline;
    color: var(--avocado);
    font-size: 2.2vw;
    padding-right: 8px;
    font-family: "Roboto Slab", sans-serif;
}

.ingredients-hardware ul {
    display: flex;
    flex-wrap: wrap;
}

.hardware {
    margin-top: 5px;
    line-height: 1.5;
}

.ingredients {
    line-height: 1.5;
}

.tags-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    /* min-width: 100%; */
    /* max-width: 200px; */
    /* padding-bottom: 30px; */
    overflow: hidden;
    /* height: 100%; */
    margin: 10px;
}

.tags-container li {
    filter: none;
    margin: 2px;
    font-size: 0.5em;
    font-size: 1.5vw;
    height: fit-content;
    margin: 2px;
    /* padding: 2vw 0; */
}

.tags {
    display: flex;
    position: relative;
    flex-flow: row;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}

.tags-container #tag-0 {
    display: none;
}
.tags .tag,
#all-tags .tag {
    padding: 0 8px;
}

#tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.tags {
    height: 100%;
}

#tags li {
    padding: 5px 15px;
}

.tags h4 {
    font-family: "Indie Flower";
    font-size: 2vw;
    color: black;
    letter-spacing: 1ch;
    padding: 0;
    filter: var(--index-card-shadow-5);
}

.tags ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-self: center;
    display: flex;
    align-content: center;
    padding: 10px 0;
    height: fit-content;
}

#tags ul li {
    margin: 5px 15px;
}

.tag {
    display: flex;
    font-family: "Indie Flower";
    font-weight: bold;
    margin: 0 5px 0 10px;
    background-color: rgb(255, 255, 0);
    width: max-content;
    filter: var(--tag-shadow);
    box-shadow: inset 0 0 0 black;
    transition: transform 150ms,
                background-color 150ms,
                filter 150ms;
}

.tag:hover {
    filter: var(--index-card-shadow-3);
    cursor: pointer;
}

.tag:active {
    filter: none;
    transform: translate(0, 5px);
    background-color: gold;
    /* box-shadow: inset 0 0 10px #000000; */
}

/* END 5-C -- RECIPE CARD BODY */

/* 5-D -- OVERLAY */
.overlay {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(255, 179, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    /* padding: 15px 30px; */
}

.recipe-card:hover .overlay {
    visibility: visible;
    animation: fade 500ms;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.open-recipe-btn {
    text-decoration: none;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--open-recipe-btn);
    color: blue;
    font-family: sans-serif;
    letter-spacing: 0.1ch;
    border-radius: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
}

.open-recipe-btn:hover {
    color: whitesmoke;
    background-color: var(--open-recipe-btn-hover);
    transition: all ease 300ms;
}

.open-recipe-btn:active {
    background-color: var(--open-recipe-btn-active);
}
/* END 5-D -- OVERLAY

/* END 5 -- MAIN PREVIEW SECTION */

/* 6 -- MAIN PREVIEW SECTION */
.main-section {
    background-color: var(--categories-bg);
    display: flex;
    flex-flow: column;
    /* justify-self: center; */
    align-items: center;
    align-self: center;
    margin-top: 25px;
    height: 100%;
    width: 1200px;
}

/* 6-A -- WELCOME CARD */
#welcome-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 65%; 
    width: auto;
    position: absolute;
    /* background-color: white; */
    align-self: center;
    -webkit-text-stroke: 2px whitesmoke;
}

#welcome-text h3 {
    font-family: "Shrikhand", serif;
    color: var(--charcoal);
    /* color: var(--avocado); */
    color: brown;
    font-size: 6.5em;
    letter-spacing: 0.5ch;
    margin: 1%;
    padding: 1%;
    text-align: center;
    filter: var(--index-card-shadow);
    font-weight: 400;
    justify-content: center;
}

#welcome-text h4 {
    font-family: "Roboto Slab";
    font-size: 3em;
    -webkit-text-stroke: 0;
    text-transform: uppercase;
    /* font-weight: bold; */
    letter-spacing: 0.25ch;
    color: whitesmoke;
    filter: var(--index-card-shadow-2);
}

/* 6-B -- RECIPE IMAGES */
/* BEEF */
#beef-1-pic {
    background-image: var(--beef-1-pic);
}

#beef-2-pic {
    background-image: var(--beef-2-pic);
}

#beef-3-pic {
    background-image: var(--beef-3-pic);
}
/* BREAD */
#bread-1-pic {
    background-image: var(--bread-1-pic);
    background-size: 80%;
}

#bread-2-pic {
    background-image: var(--bread-2-pic);
    background-size: 80%;
}

#bread-3-pic {
    background-image: var(--bread-3-pic);
    background-size: 70%;
}
/* DESSERTS */
#dessert-1-pic {
    background-image: var(--dessert-1-pic);
    background-size: 70%;
}
#dessert-2-pic {
    background-image: var(--dessert-2-pic);
    background-size: 70%;
}
#dessert-3-pic {
    background-image: var(--dessert-3-pic);
    background-size: 70%;
}
/* SEAFOOD */
#seafood-1-pic {
    background-image: var(--seafood-1-pic);
    background-size: 70%;
}
#seafood-2-pic {
    background-image: var(--seafood-2-pic);
    background-size: 70%;
}
#seafood-3-pic {
    background-image: var(--seafood-3-pic);
    background-size: 70%;
}
/* SOUPS */
#soup-1-pic {
    background-image: var(--soup-1-pic);
    background-size: 70%;
}
#soup-2-pic {
    background-image: var(--soup-2-pic);
    background-size: 70%;
}
#soup-3-pic {
    background-image: var(--soup-3-pic);
    background-size: 70%;
}
/* END 6-B -- RECIPE IMAGES */

/* 6-C -- SECRETS PANEL */
#secrets {
    justify-content: center;
}

.secrets-body {
    margin: 1% 5%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0 auto;
}

#secrets-header {
    font-family: "Indie Flower";
    letter-spacing: 0.3ch;
    width: 100%;
    font-size: 3em;
}

ul.secrets-list {
    padding: 0 30px;
}

.secrets-list li {
    font-family: "Roboto Condensed";
    font-size: 1.25em;
    line-height: 2;
}
/* END 6-C -- SECRETS PANEL */

/* END 6 -- MAIN PREVIEW SECTION */

/* 7 -- RECIPE DISPLAY SECTION */
/* 7-A -- RECIPE DISPLAY CONTAINER */
.recipe-display-section {
    display: none;
    background-color: var(--lettuce);
    height: fit-content;
    width: 1200px;
    justify-content: center;
    align-items: flex-end;
}

.recipe-display-section.active {
    display: flex;
}
/* END 7-A RECIPE DISPLAY CONTAINER */

#recipe-display-container h1.title {
    text-align: center;
    font-size: 6vw;
}

/* 7-B -- RECIPE HEADER ROW 1 */
h2.test-header {
    font-family: "roboto slab";
    letter-spacing: 0.25ch;
    margin-bottom: 15px;
}

.recipe-display-container {
    border: 2px solid black;
    display: grid;
    grid-template: repeat(6 min-content) / 50% 50%;
    /* grid-template: repeat(4 min-content) / 25% 50% 25%; */
    /* grid-template: minmax(50px 300px) minmax(fit-content 400px) 1fr 1fr / 25% 50% 25%; */
    /* grid-template: minmax(20px 30px) minmax(max-content 400px) 1fr 1fr / 25% 50% 25%; */
    /* grid-gap: 15px 15px; */
    width: 90vw;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 1%;
    margin-top: 25px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.recipe-display-title h1.title {
    background-color: initial;
    color: black;
    font-family: "Roboto Slab";
    letter-spacing: 0.2ch;
    padding: 0;
    width: fit-content;
    text-align: left;
}

.recipe-display-title {
    /* background-color: whitesmoke; */
    display: flex;
    grid-area: 1 / 1 / span 1 / span 2;
    justify-self: center;
    color: black;
    font-family: "Roboto Slab";
    text-align: left;
    border-bottom: 5px dotted black;
    z-index: 10;
}

#recipe-name {
    display: flex;
    justify-content: center;
}

#recipe-name h1.title {
    display: flex;
    width: 100%;
    align-self: center;
    justify-self: center;
}

.recipe-display-details {
    background-color: rgb(159, 215, 250);
    display: flex;
    flex-wrap: wrap;
    grid-area: 1 / 3 / span 1 / span 1;
    align-self: center;
    padding: 10px;
    height: fit-content;
    width: fit-content;
    line-height: 2;
    border-radius: 10px;
}

.recipe-display-details ul {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.recipe-display-details li {
    font-size: 1.25em;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 600;
    display: inline-flex;
    justify-content: space-between;
    letter-spacing: 0.15ch;
}
/* END 7-B -- RECIPE HEADER ROW 1*/

/* 7-C -- RECIPE TEMPLATE ROWS 2-4 */
.servings-measurements-container {
    /* background-color: limegreen; */
    background-color: var(--breads-bg);
    display: flex;
    flex-direction: column;
    grid-area: 2 / 1 / span 1 / span 2;
    justify-content: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    height: fit-content;
    width: 35vw;
    /* padding-left: 50px; */
    border-radius: 10px;
    /* margin: 50px; */
    padding: 15px;
}

.recipe-display-hardware {
    /* background-color: deeppink; */
    background-color: var(--charcoal-2);
    grid-area: 2 / 3 / span 1 / span 1;
    display: flex;
    flex-flow: column;
    align-self: center;
    justify-self: center;
    justify-content: center;
    padding: 30px;
    margin-left: 50px;
    border-radius: 10px;
    color: whitesmoke;
    height: max-content;
}

#hardware-list-main, 
#additional-hardware {
    margin-bottom: 15px;
    display: flex;
    flex-flow: column wrap;
    height: min-content;
    justify-content: flex-start;
    line-height: 1.5;
}

#hardware-list-main li,
#additional-hardware li {
    display: block;
    font-family: "Roboto Condensed";
}

.recipe-display-ingredients {
    /* background-color: rgb(122, 161, 235); */
    display: flex;
    flex-flow: column wrap;
    justify-self: center;
    justify-content: center;
    align-items: space-around;
    padding: 15px;
    margin-bottom: 15px;
}

#ingredient-list {
    display: flex;
    flex-flow: column nowrap;
    list-style: disc;
    line-height: ;
    height: fit-content;
}

.ingredient,
.hardware-items {
    font-family: monospace;
    margin-right: 20px;
    padding-right: 20px;
}

.shopping-item,
.hardware-item, 
.additional-hardware-item {
    /* background-color: yellow; */
    font-family: "roboto condensed";
    padding-right: 2px;
    font-size: 1.25vw;
    line-height: 1.5;
}

.shopping-item ~ .shopping-item:before,
.hardware-item ~ .hardware-item:before {
    content: ",  ";
}

.emoji {
    color: gray;
}

#servings-list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    line-height: 2;
}

#servings-list li {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    width: 40px;
    margin: 0;
    /* padding: 15px; */
}
#servings-size.recipe-detail {
    padding: 0;
    align-self: flex-start;
}

#servings.recipe-detail {
    font-family: "Roboto Slab";
    font-size: 16px;
    /* width: fit-content; */
    height: 100%;
}

#servings-list option {
    font-family: "Roboto Slab";
    font-size: 16px;
}

.recipe-display-servings {
    display: flex;
    width: 100%;
}

.recipe-display-servings li {
    font-size: 1.25em;
    font-family: "Roboto Slab", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    letter-spacing: 0.15ch;
}



.recipe-display-tags {
    grid-area: 3 / 1 / span 1 / span 3;
    /* background-color: fuchsia; */
    /* background-color: var(--breads-bg); */
    display: flex;
    justify-content: center;
    justify-self: center;
    height: fit-content;
    /* flex-direction: column; */
    /* padding: 15px; */
    border: 5px dashed var(--charcoal);
    border-radius: 10px;
    width: 70vw;
    margin-top: 30px;
}

.recipe-display-tags ul, 
#all-tags {
    /* padding: 15px; */
    font-size: 1.5em;
    justify-content: center;
}

#tags h4 {
    display: flex;
    padding-top: 15px;
    margin: unset;
    align-self: center;
    text-align: center;
    filter: var(--tag-shadow);
}

#tags li {
    margin: 25px;
}

.recipe-display-blurb {
    background-color: var(--salmon);
    grid-area: 4 / 1 / span 1 / span 3;  
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding: 5%;
    font-family: "Garamond";
    font-weight: 600;
    font-size: 24px;
    line-height: 1.5;
    border-radius: 10px;
    height: min-content;
    margin-top: 30px;
    width: 75%;
}

.recipe-display-procedure {
    /* background-color: cyan; */
    grid-area: 5 / 1 / span 1 / span 3;
    /* padding: 15px 15px 15px 15px; */
    min-height: min-content;
    max-height: max-content;
    width: 130%;
    margin-top: 30px;
}

#instructions-list {
    /* list-style: none; */
    margin-left: 10px;
    font-family: "Roboto Condensed";
    font-size: 18px;
    line-height: 1.5;
}

#instructions-list li {
    padding-bottom: 15px;
}

.secret-tip {
    font-style: italic;
}

.secret-label {
    font-weight: 800;
}

.recipe-display-pic {
    grid-area: 6 / 1 / span 1 / span 3;
    /* border: 5px dashed black; */
    /* margin-top: 2%; */
    /* padding: 15px; */
    border-radius: 10px;
    min-height: 250px;
    height: 325px;
    max-height: 500px;
    /* width: min-content; */
    display: flex;
    justify-self: flex-start;
    align-self: center;
}

.recipe-display-pic img {
    max-height: 100%;
    min-width: 50%;
    padding: 15px;
    border: 5px dashed var(--charcoal);
    border-radius: 10px;
    align-self: center;
}

.recipe-display-variations {
    grid-area: 7 / 1 / span 1 / span 3;
    display: flex;
    flex-flow: column;
    justify-self: center;
    justify-content: center;
    background-color: var(--grape);
    padding: 15px;
    margin-left: 50px;
    /* margin-right: 30px; */
    border-radius: 10px;
    height: min-content;
    width: 50%;
    color: whitesmoke;
}

.recipe-display-variations h2 {
    display: flex;
    width: fit-content;
}

ul#additional-hardware.variations-list {
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: center;
    height: min-content;
}

ul#additional-hardware.variations-list li {
    display: flex;
    align-items: center;
}
/* END 7-C -- RECIPE BODY ROWS 2-4 */

/* END 7 -- RECIPE DISPLAY SECTION */

/* 8 -- MASTER INDEX SECTION */
.master-index-section {
    display: none;
    height: fit-content;
    min-height: 100vh;
    width: 1200px;
    background-color: var(--lettuce);
    justify-content: center;
    padding-bottom: 2%;
}

.master-index-section.active {
    display: flex;
}

.master-index-container {
    border: 2px solid black;
    display: flex;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    background-color: var(--salmon);
    width: 90%;
    padding: 1%;
    border-radius: 10px;
    margin-top: 30px;
}

#recipe-search-master {    
    margin-top: 15px;
}

.master-index-container h1 {
    display: flex;
    justify-content: center;
    width: 100%;
    /* color: var(--charcoal); */
    color: black;
    font-family: "Roboto Slab";
    font-size: 6.5vw;
    /* margin-left: 25px; */
    letter-spacing: 0.25ch;
}

.master-index-grid {
    display: grid;
    margin: 15px;
    padding: 15px;
    justify-content: space-around;
    grid-template-rows: repeat(2, auto) ;
    grid-template-columns: repeat(2, fit-content);
    grid-gap: 15px 15px;
}

.all-tags {
    grid-area: 1 / 1 / span 1 / span 1;
    /* border: 1px solid white; */
    width: fit-content;
}

.tag-results {
    grid-area: 2 / 1 / span 1 / span 1;
    /* border: 1px solid white; */
    height: 400px;
}

.alpha-listing {
    grid-area: 1 / 2 / span 2 / span 1;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-self: center;
    flex-flow: column;
    width: 90%;
}

#all-tags {
    padding: 15px;
}

#tag-results {
    padding: 15px;
}

#alpha-listing {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    width: 65%;
}

#alpha-listing a {
    display: flex;
    justify-content: center;
    width: 100%
}

#alpha-listing li {
    background-color: honeydew;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px 25px;
    margin: 3px 0;
    font-family: "Roboto Slab";
    color: var(--charcoal);
    font-size: 1.25vw;
    font-weight: 600;
    letter-spacing: 0.15ch;
    text-transform: capitalize;
    text-align: center;
    transition: transform 350ms;
    width: 100%;
}

#alpha-listing a {
    text-decoration: none;
}

#alpha-listing li a:hover {
    cursor: pointer;
}

#alpha-listing li:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 0);
    filter: var(--index-card-shadow-2);
    transform: translate(0, -3px);  
    transition: transform 150ms,
                filter 150ms;
}

.tag.active:hover {
    cursor: default;
}

#alpha-listing li:active {
    transform: '';
    filter: unset;
}

#all-tags li {
    display: inline-flex;
    margin: 7px 10px;
    font-size: 1.75vw;
}

#all-tags .tag {
    padding: 3px 10px;
}

#all-tags .tag:hover {
    filter: var(--index-card-shadow-2);
}

.master-index-grid h2 {
    display: flex;
    font-family: "Roboto Condensed";
    text-align: center;
    font-size: 2.5vw;
    width: 100%;
    color: var(--charcoal);
}

#recipe-search-master {
    background-color: var(--lettuce);
    background-image: var(--search-icon-3);
    background-blend-mode: color-burn;
    background-position: 15px 18px;
    background-repeat: no-repeat;
    background-size: 10%;
    border: 2px solid black;
    font-family: "Roboto Slab";
    border-radius: 10px;
    width: 60%;
    height: 40px;   
    font-size: 2vw;
    padding: 1vw 2vw 1vw 6.5vw;
    margin-top: 15px;
    justify-self: center;
}

#recipe-search-master:active {
}

#recipe-search-master:focus {
    border: 3px solid var(--seafood-bg);
    /* background-color: var(--index-card-bg); */
    background-color: lightyellow;
    background-image: none;
}

/* END 8 -- MASTER INDEX SECTION */

/* SLIDER */
#desserts h3 {
    color: var(--charcoal);
}
#seafood {
    color: whitesmoke;
}

/* MAIN RECIPE DISPLAY PICTURE TWEAKS */
/* BEEF */
#meatloaf-pic {
    /* transform: scale(0.6); */
    height: 100%;
}
#short-rib-pic {
    /* transform: scale(0.75); */
    height: 100%;
}
/* BREADS */
#challah-pic {
    /* transform: rotate(90deg) scale(1); */
    height: 100%;
}
#biscuits-pic {
    /* transform: scale(0.9); */
    height: 100%;
}
#langos-pic {
    /* transform: scale(0.9); */
    height: 100%;
}
/* DESSERTS */
#cannoli-pic {
    transform: scale(1);
    height: 100%;
}
/* SOUPS */
#shrimp-bisque-pic {
    /* transform: scale(0.85); */
    height: 100%;
}
#potato-leek-pic {
    transform: scale(0.9);
    height: 100%;
}

/* Next & previous buttons */
.prev, #next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  filter: var(--index-card-shadow-2);
  transition: filter 0 linear;
}

.prev:active,
#next:active {
    color:rgb(255, 255, 0);
    filter: none;
}

/* Position the "next button" to the right */
#next {
  right: 5%;
  border-radius: 3px 0 0 3px;
}

.prev {
    left: 5%;
}

/* MEDIA QUERIES */

/* INTEGRATE THIS SECTION INTO THE DEFAULT SCREEN SIZE */

    .servings-measurements-container {
        align-self: center;
        margin: 30px;
    }

    .recipe-display-procedure {
        width: 80%;
        justify-self: center;
    }

    .recipe-display-hardware {
        align-self: center;
        margin: 30px;
        width: fit-content;
        height: max-content;
        font-size: 12px;
        justify-content: center;
        align-items: center;
    }

    .recipe-display-hardware h2 {
        display: flex;
        width: 100%;
        padding: 0 15px;
    }

    .recipe-display-hardware ul {
        width: 80%;
    }

    .recipe-display-pic {
        margin: 30px;
        justify-self: center;
    }

    .recipe-display-blurb {
        margin: 15px;
        padding: 20px;
    }

    .recipe-display-variations {
        display: flex;
        margin: 20px;
        width: 80%;
    }

    #additional-hardware.variations-list li {
        background-color: var(--grape2);
        display: flex;
        justify-content: center;
        color: black;
        width: 225px;
        /* min-height: 75px; */
        /* height: fit-content; */
        height: 175px;
        margin: 10px;
        padding: 15px;
    }

    #servings-list li {
        display: flex;
        justify-content: flex-start;
        width: fit-content;
        margin: 5px;
    }
    
    







/* 1150px wide */
@media screen and (max-width: 1150px)  {

    .index-window {
        display: none;
    }

    .master-index-section {
        width: 100%;
    }

    /* .header {
        display: flex; 
        width: 100%;
        justify-content: flex-start;
        overflow: hidden;
    } */

     /* 700 club */
    .index-window-700 {
        display: flex;
        width: 90%;
        padding-left: 30px;
    }

    #recipe-search-700 {
        width: 100px;
        height: min-content;
        font-size: 12px;
        background-position: center left;
        background-position-x: 10px;
        align-self: center;
        margin: 0 15px 0 0;
    }

    #recipe-list-700 {
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
    }

    #recipe-list-700 li {
        display: flex;
        overflow: hidden;
        text-align: center;
        justify-content: center;
        margin: 0 2px;
        font-size: 12px;
        width: max-content;
        background-color: honeydew;
        border-radius: 10px;
        transition:     transform 350ms;
    }

    #recipe-list-700 a {
        font-family: "Roboto Slab", sans-serif;
        text-decoration: none;
        font-weight: 500;
    }

    #recipe-list-700 li a {
        display: block;
        border: 1px solid black;
        background-color: honeydew;
        padding: 12px;
        text-decoration: none;
        font-size: 12px;
        color: black;
        /* margin-bottom: 2px; */
    }

    #recipe-list-700 li a :hover {
        background-color: rgb(255, 255, 0);
    }

    #recipe-list-700 li:hover {
        background-color: rgb(255, 255, 0);
        filter: var(--index-card-shadow-2);
        transform: translate(0, -3px);  
        transition: transform 150ms,
                    filter 150ms;
    }

    #recipe-list-700 li:active {
        /* padding: unset; */
        filter: unset;
        transform: unset;
    }

    #recipe-list-700 li a:active {
        background-color: gold;
    }
        
    .main-section {
        width: 100%;
    }

    /* TABS */
    .tab-control,
    .tab.active {
        font-size: 18px;
    }

    .recipe-body {
        justify-self: flex-end;
    }

    .shopping-item, 
    .hardware-item {
        /* font-size: 2vw; */
        /* line-height: 1.5; */
    }

    #recipe-name {
        display: flex;
        padding: unset;
    }

    #recipe-name h1.title {
        font-size: 5vw;
    }

    #recipe-display-container h1.title {
        font-size: 6vw;
        text-align: center;
        /* width: 100%; */
    }

    .recipe-display-pic {
        transform: scale(0.9)
    }

    #recipe-display-details {
        /* background-color: var(--hilighter); */
        /* width: 30vw; */
        width: fit-content;
    }

    #recipe-display-details ul {
        /* background-color: var(--hilighter); */
        padding: 5px 10px;
        width: 25vw;
    }

    .recipe-display-details {
        font-size: 12px;
        padding: 0;
        /* width: 80%; */
        justify-content: center;
        justify-self: center;
    }

    .ingredient, 
    .shopping-item {
        font-size: 1em;
    }

    #servings-list li {
        /* padding: 0; */
    }

    #ingredient-list {
        margin-left: 15px;
    }

    .servings-measurements-container {
        /* width: 80%; */
    }

    .recipe-display-tags {
        /* width: 0px; */
    }

    .recipe-display-tags ul {
        justify-content: center;
    }

}
/* END 1150px wide */

/* 1100px wide */
@media screen and (max-width: 1100px)  {
    
    /* TABS */
    .tab-control,
    .tab.active,
    .active {
        font-size: 16px;
    }

    .tabs-header {
        width: 94vw;
    }

    .tab-list li {
        padding: 2%;
        /* margin: 2px; */
        height: 30px;
    }

    .tab-list {
        /* width: 90vw; */
        padding: 30px 0 0 0;
        margin-right: 0;
    }

    .tab-panel.active {
        width: 95vw;
        height: 100vw;
    }

    #secrets-tab {
        margin: 0;
    }
    
    /* RECIPE CARD */
    .slide-buttons-container {
        margin: 15px;
        width: 100%;
    }

    .tags-container li {
        font-size: 2.5vw;
    }
    
    .slide {
        height: fit-content;
        margin: 15px;
        padding: 15px;
        align-self: flex-start;
        width: 90%;
    }

    .slide-group {
        height: 100%;
    }

    .ingredients-hardware h4 {
        font-size: 3vw;
    }

    /* PANELS */
    /* WELCOME */
    #welcome-text {
        justify-content: flex-start;
    }

    #welcome-text h3 {
        font-size: 4.5em;
    }
    #welcome-text h4 {
        font-size: 1.5em;
    }
    h1.construction-text {
        font-size: 2em;
    }

    .recipe-details li {
        font-size: 2vw;
    }

    h1.title {
        font-size: 6vw;
    }

    .recipe-title {
        display: flex;
        justify-content: center;
    }

    .recipe-body {
        flex-direction: column;
        width: fit-content;
        align-self: center;
    }
    
    .shopping-item, 
    .hardware-item {
        /* font-size: 1em; */
        line-height: 1.5;
    }

    .ingredients-hardware {
        align-self: center;
        justify-content: flex-start;
        width: 90%;
        height: fit-content;
    }

    .ingredients-hardware h4 {
        font-size: 2.75;
    }

    .recipe-pic {
        margin-top: 15px;
        width: 60%;
        min-height: 200px;
        background-size: cover;
    }

    .tags {
        padding: 0;
    }

    .tags h4 {
        font-size: 3vw;
    }

    .recipe-display-variations, 
    .recipe-display-hardware {
        align-self: center;
        margin: 0;
    }
    
}
/* END 1100px wide */

/* 1050 pxwide */
@media screen and (max-width: 1050px) {

    .recipe-display-section {
        width: 100%;
    }

    .recipe-display-container {
        width: 90vw;
    }
    
    .servings-measurements-container {
        width: 65%;
    }

    .recipe-display-tags {
        /* width: 500px; */
    }

    .recipe-display-tags ul {
        justify-content: center;
    }

    .hardware-item {
        /* font-size: 1em; */
    }

    .recipe-display-hardware {
        margin: 30px 50px 0 0;
        /* padding: 10px; */
        width: 25vw;
        height: max-content;
        font-size: 12px;
        justify-content: center;
        align-items: center;
    }

    .recipe-display-hardware h2 {
        display: flex;
        width: 70%;
        align-self: flex-start;
        padding: 0 15px;
    }

    .recipe-display-tags li.tag {
        font-size: 0.75em;
    }

}
/* END 1050px wide */

/* 970px wide */
@media screen and (max-width: 970px)  {
    
    /* PANELS */
    /* WELCOME */
    #welcome-text h3 {
        font-size: 5.5em;
    }
    #welcome-text h4 {
        font-size: 2em;
    }

    /* RECIPE DISPLAY */
    .recipe-display-container {
        align-self: center;
        display: grid;
    }

    #recipe-name.recipe-display-title {
        width: fit-content;
    }

    .recipe-display-title {
        grid-area: 1 / 1 / 1 / span 3;
        align-self: center;
        align-items: center;
    }
    
    .recipe-display-title h1 {
        justify-content: center;
        width: fit-content;
    }

    #recipe-display-details {
        grid-area: 2 / 1 / span 1 / span 3;
        justify-content: center;
        width: 90%;
        margin: 15px;
        padding: 0;
    }
    
    #recipe-display-details ul {
        /* background-color: black; */
        flex-flow: row wrap;
        width: 90%;
        width: fit-content;
        /* width: max-content; */
    }
    
    .recipe-display-details ul li {
        /* background-color: yellow; */
        display: inline-flex;
        width: fit-content;
        font-size: 1.8vw;
        margin: 5px;
    }

    .recipe-detail {
        width: max-content;
    }

    .recipe-display-tags {
        grid-area: 3 / 1 / span 1 / span 3;
        align-self: center;
    }

    .servings-measurements-container {
        grid-area: 4 / 1 / span 1 / span 1;
        align-self: center;
    }

    .recipe-display-hardware {
        grid-area: 4 / 2 / span 1 / span 1;
    }

    .recipe-display-blurb {
        grid-area: 6 / 1 / span 1 / span 3;
        align-self: center;
    }

    .recipe-display-procedure {
        grid-area: 7 / 1 / span 1 / span 3;
    }

    .recipe-display-pic {
        grid-area: 8 / 1 / span 1 / span 3;
    }

    .recipe-display-variations {
        grid-area: 9 / 1 / span 1 / span 3;
    }

    .tags {
        height: 100%;
        justify-content: center;
    }

    .tags ul .tag {
        display: inline;
    }

    #servings-list li {
        /* background-color: yellow; */
        font-size: 2vw;
    }

    .recipe-display-ingredients h2 {
        display: flex;
        width: 90%;
        justify-content: center;
        align-self: center;
        font-size: 3.25vw;
    }

    .recipe-display-ingredients {
        width: fit-content%;
        flex-flow: column;
        height: 100%;
    }

    .ingredient {
        width: max-content;
        padding: 0;
        margin: 0;
    }

    #ingredient-list {
        display: flex;
        flex-flow: column nowrap;
        width: min-content;
        height: fit-content;
        justify-content: space-between;
    }

    .ingredient, 
    .shopping-item {
        font-size: 2.5vw;
    }

    .servings-measurements-container {
        margin: 30px 20px 20px 0;
        justify-self: flex-end;
    }

    .recipe-display-hardware {
        margin-right: 0;
        margin-left: 30px;
    }

    .recipe-display-procedure {
        width: 60vw;
    }

    .instruction {
        font-size: 16px;
    }

    .recipe-display-blurb {
        width: 70vw;
    }

    .recipe-display-variations {
        width: 70vw;
    }

    ul#additional-hardware.variations-list li {
        font-size: 1.75vw;
        line-height: 2;
    }

    p.blurb {
        padding: 15px;
        font-size: 2.5vw;
    }




    .servings-measurements-container {
        grid-area: 4 / 1 / span 1 / span 3;
        margin: 0;
        padding: 15px;
        justify-self: center;
        width: 65vw;
        height: 90%;
    }



    .recipe-display-hardware {
        grid-area: 5 / 1 / span 1 / span 3;
        margin: 0;
        flex-flow: row;
        width: 80%;
    }

    .recipe-display-hardware ul li,
    .hardware-item {
        font-size: 2.25vw;
    }

    #hardware-list-main, 
    #additional-hardware {
        margin: 0;
        align-self: flex-start;
    }
    
    li#additional-hardware-item {
        width: fit-content;
    }

    #recipe-display-variations {
        height: 100%;
    }

    #recipe-display-variations li.variation {
        height: 80%;
    }

}
/* END 970px wide */

/* 815px WIDE */
@media screen and (max-width: 850px) {

    .tab-list {
        font-size: 1vw;
        letter-spacing: 0;
    }

    .tab-list li {
        padding: 2% 1%;
    }

    .tag { 
        justify-content: flex-end;
    }

    .tab-panel.active {
        height: 120vw;
    }

    .recipe-display-tags {
        margin: 0;
    }

    .recipe-display-blurb {
        grid-area: 6 / 1 / span 1 / span 3;
    }

    .recipe-display-procedure {
        grid-area: 7 / 1 / span 1 / span 3;
    }

    .recipe-display-pic {
        grid-area: 8 / 1 / span 1 / span 3;
    }

    .recipe-display-variations {
        grid-area: 9 / 1 / span 1 / span 3;
    }

}
/* END 850px WIDE */

/* 615px wide */
@media screen and (max-width: 625px)  {
    .tab-list li {
        margin: 0;
    }

    .tab-list {
        /* width: 80%; */
    }
}
/* END 615px WIDE */

/* 550px wide */
@media screen and (max-width: 550px)  {
    /* TABS */
    .tab {
        display: flex;
        text-orientation: sideways;
        writing-mode: vertical-lr;
        align-items: center;
    }

    .tab-list {
        width: 100%
    }

    .tab-list li {
        padding: 3% 0;
        margin: 0 1%;
        letter-spacing: 0.25ch;
        height: 75px;
    }

    .tabs-header li.active a {
        font-size: unset;
    }

    #welcome-tab {
        letter-spacing: 0;
    }

    /* PANELS */
    /* WELCOME */
    .slide {
        width: 85%;
    }

    #welcome-text h3 {
        font-size: 3.5em;
    }
    #welcome-text h4 {
        font-size: 1em;
    }

    .tab-panel.active {
        height: 150vw;
    }

    .recipe-display-hardware {
        flex-flow: column;
        width: 50vw;
    }

    #hardware-list-main {
        align-self: center;
        margin-bottom: 15px;
    }

    .recipe-display-pic {
        width: 80vw;
        height: auto;
    }

    #recipe-display.details ul {
        flex-flow: column;
        flex-wrap: wrap;
        width: fit-content;
    }    
    #recipe-display-details ul li {
        font-size: 2vw;;
    }

    .recipe-display-tags li.tag {
        font-size: 3vw;
    }
}
/* END 550px WIDE */

/* 400px wide */
@media screen and (max-width: 400px)  {
    /* TABS */
    .tab {
        display: flex;
        text-orientation: sideways;
        writing-mode: vertical-lr;
        height: 75px;
        width: 25px;
        align-items: center;
    }

    .tab-list li {
        padding: 10% 0;
        font-size: 0.5em;
    }

    /* PANELS */
    /* WELCOME */
    #welcome-text h3 {
        letter-spacing: 0.15ch;
    }
    #welcome-text h4 {
        font-size: 1em;
        letter-spacing: 0;
    }

    .tab-panel.active {
        height: 200vw;
    }

}
/* END 400px WIDE */

/* 320px wide */
@media screen and (max-width: 320px)  {
    /* TABS */
    .tab {
        text-orientation: sideways;
        writing-mode: vertical-lr;
        height: 75px;
        width: 25px;
        align-items: center;
    }
    
    .tab-list li {
        display: none;
        padding: 10% 0;
        font-size: 0.5em;
    }

    .construction-panel {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    
    h1.construction-text {
        font-size: 1em;
        padding: 5px 0;
        margin: 0;
    }

    .construction-text h1 {
        display: flex;
        align-items: center;
    }
}
/* END 320px WIDE */

/* 200px wide */
@media screen and (max-width: 200px)  {

    html {
        display: none;
    }
}
/* END 200px WIDE */