/* TABLE OF CONTENTS */
/* 1 -- Global Styles and Variables */
/* 2 - Header */
/* END TABLE OF CONTENTS */

/* 1 -- GLOBAL STYLES AND VARIABLES */
* {
    /* border: 1px solid red; */
    /* GLOBAL PROPERTIES */
    margin: 0;
    padding: 0;
    /* CUSTOM COLORS */
    --beef-red: rgb(168, 0, 0);
    --bud-green: rgb(112, 174, 110);
    --charcoal: rgb(49, 49, 49);
    --charcoal-2: #36454F;
    --dark-liver: rgb(72, 60, 70);
    --inchworm: rgb(190, 238, 98);
    --ming: rgb(60, 110, 113);
    --orange-crayola: rgb(244, 116, 59);
    --shadow-color: rgba(42, 42, 42, 0.6);
    --shadow-b-color: rgba(21, 21, 21, 0.8);
    /* CIRCLE IMAGES */
    --bio-pic: url(./img/bio-pic.jpg);
    --sammy-pic: url(./img/sammy1.png);
    --recipes-pic: url(./img/recipes.jpg);
    --contact-img: url(./img/contact.png);
    --x-icon: url(./img/x-button.png);
    --x-icon-2: url(./img/x-button-2.png);
    /* CIRCLE SHADOWS */
    --shadow-1: drop-shadow(5vh 5vw 5px var(--shadow-color));
    --shadow-1b: drop-shadow(3vh 2vw 4px var(--shadow-b-color));
    --shadow-1c: drop-shadow(1vh 1vw 2px var(--shadow-b-color));

    --shadow-2: drop-shadow(3vh 3vw 10px var(--shadow-color));
    --shadow-2b: drop-shadow(2vh 1vw 9px var(--shadow-b-color));
    --shadow-2c: drop-shadow(1vh 1vw 4px var(--shadow-b-color));

    --shadow-3: drop-shadow(4vh 8vw 15px var(--shadow-color));
    --shadow-3b: drop-shadow(3vh 4vw 14px var(--shadow-b-color));
    --shadow-3c: drop-shadow(1vh 1vw 5px var(--shadow-b-color));

    --shadow-4: drop-shadow(3vh 5vw 6px var(--shadow-color));
    --shadow-4b: drop-shadow(2vh 3vw 5px var(--shadow-b-color));
    --shadow-4c: drop-shadow(1vh 1vw 2px var(--shadow-b-color));

    --shadow-5: drop-shadow(2vh 2vw 4px var(--shadow-color));
    --shadow-5b: drop-shadow(1vh 1vw 3px var(--shadow-b-color));
    --shadow-5c: drop-shadow(1vh 1vw 1px var(--shadow-b-color));

    --shadow-6: drop-shadow(3vh 1vw 4px var(--shadow-b-color));

    /* Global variables */
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
    height: 100%;
}

body {
    background-color: var(--orange-crayola);
    display: flex;
    flex-flow: column;
    height: 100%;
}

/* Up Button */
#upBtn {
    display: none; 
    position: fixed; 
    bottom: 20px;
    right: 30px;
    z-index: 10;
    border: 3px solid whitesmoke;
    outline: none;
    background-color: var(--beef-red);
    color: whitesmoke;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#upBtn:hover {
    background-color: black;
}

#upBtn:active {
    background-color: deeppink;
}
/* END 1 -- GLOBAL STYLES AND VARIABLES */

/* 2 -- Header */
.header {
    display: block;
    justify-content: flex-start;
    /* background-color: var(--orange-crayola); */
    /* background-color: var(--dark-liver); */
}

.header h1.title {
    font-family: "Racing Sans One";
    /* color: whitesmoke; */
    color: black;
    /* color: deeppink; */
    font-size: 5vw;
    letter-spacing: 0.15ch;
    padding: 25px 0 0 50px;
}

.header h2.sub-title {
    font-family: "Raleway";
    font-size: 2.5vw;
    color: var(--charcoal);
    letter-spacing: 0.15ch;
    padding: 0 0 25px 50px;
    font-style: italic;
}

/* END 2 -- HEADER */

/* 3 -- MAIN SECTION */

.main-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40vh;
    transition: 750ms height ease-out;  
}

.caption-section {
    background-color: var(--ming);
    display: flex;
    width: 100%;
    align-items: center;
    height: 20%;
    user-select: none;
    transition: 750ms height ease-out;  
}

.circle {
    background-color: var(--bud-green);
    /* background-color: var(--charcoal-2); */
    /* background-color: var(--dark-liver); */
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border-radius: 50%;
    border: 3px solid var(--charcoal);
    z-index: 1;
}    

.circle .active {
    background-color: black;
}

.circle:hover {
    border-color: whitesmoke;
    transform: scale(1.2);
    cursor: pointer;
}

.circle:active {
    border-color: var(--inchworm);
    transform: scale(1.175);
}

#bio {
    background-image: var(--bio-pic);
    display: flex;
    justify-content: flex-end;
    background-repeat: no-repeat;
    background-size: 16vw;
    background-position: left center;
    left: 15vw;
    top: 28vh;
    width: 15vw;
    height: 15vw;
    filter: var(--shadow-1);
    transition: 350ms filter ease-in-out,
                350ms transform ease-in-out,
                350ms border-radius ease-in-out,
                750ms top ease-out,
                750ms left ease-out,
                750ms width ease-out,
                750ms height ease-out,
                750ms background-size ease-in-out;
    z-index: 1000;
}

#bio:hover {
    transform: scale(1.2);
    filter: var(--shadow-1b);
}

#bio.clicked:hover {
    transform: initial;
    filter: initial;
}

#bio.clicked {
    filter: initial;
    z-index: 1000;
}

.content.bio {
    display: none;
    flex-flow: column wrap;
    align-self: center;
    justify-content: center;
    height: 100%;
    width: 54%;
    color: var(--charcoal);
    /* color: white; */
    margin: 0 2vw;
    font-family: "Fira Sans";
    font-size: 1.3vw;
}

.x-out {
    background-image: var(--x-icon-2);
    width: 2.25vw;
    height: 2.25vw;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 10px;
    opacity: 0.65;
}

.x-out:hover {
    filter: invert();
}

.x-out:active {
    background-image: var(--x-icon);
}

.content.bio.clicked {
    animation: fadeIn linear 500ms;
    -webkit-animation: fadeIn linear 500ms;
    -moz-animation: fadeIn linear 500ms;
    -o-animation: fadeIn linear 500ms;
    -ms-animation: fadeIn linear 500ms;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.content.bio h3 {
    font-family: "Raleway";
    color: whitesmoke;
    height: fit-content;
    margin-bottom: 1vw;
    font-size: 2vw;
}

#sammy {
    background-color: var(--inchworm);
    background-image: var(--sammy-pic);
    background-size: cover;
    left: 32vw;
    top: 43vh;
    width: 11vw;
    height: 11vw;
    filter: var(--shadow-2);
    transition: 350ms filter ease-in-out,
                350ms transform ease-in-out,
                750ms top ease-out,
                750ms left ease-out,
                750ms width ease-out,
                750ms height ease-out;
    z-index: ;  
}

a.sammy {
    display: flex;
    align-items: flex-end;
}

#sammy:hover {
    transform: scale(1.2);
    filter: var(--shadow-2b);
}

#contact {
    /* background-color: var(--dark-liver); */
    background-color: var(--bud-green);
    /* background-color: black; */
    background-image: var(--contact-img);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7.5vw;
    top: 20vh;
    left: 36vw;
    height: 7.5vw;
    filter: var(--shadow-5);
    transition: 350ms filter ease-in-out,
                350ms transform ease-in-out,
                175ms background-color ease-in-out,
                750ms top ease-in-out,
                750ms left ease-in-out,
                750ms width ease-out,
                750ms height ease-out,
                750ms scale ease-in-out;  
    z-index: 500;
}

#contact h3 {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
    font-size: 5vw;
    padding: 0;
    margin: 0;
    height: min-content;
    width: 100%;
}

#contact:hover {
    cursor: pointer;
    transform: scale(1.2);
    filter: var(--shadow-5b);
}

#recipes {
    /* background-color: var(--dark-liver); */
    background-image: var(--recipes-pic);
    background-size: cover;
    background-position: center;
    left: 44vw;
    top: 25vh;
    width: 20vw;
    height: 20vw;
    filter: var(--shadow-3);
    transition: 350ms filter ease-in-out,
                350ms transform ease-in-out,
                750ms top ease-out,
                750ms left ease-out,
                750ms width ease-out,
                750ms height ease-out;   
}

#recipes:hover {
    transform: scale(1.2);
    filter: var(--shadow-3b);
}

#rando-color {
    background-color: var(--dark-liver);
    color: whitesmoke;
    width: 14vw;
    height: 14vw;
    top: 12vw;
    left: 66vw;
    align-self: center;
    filter: var(--shadow-4);
    transition: 350ms filter ease-in-out,
                350ms transform ease-in-out,
                750ms top ease-out,
                750ms left ease-out,
                750ms width ease-out,
                750ms height ease-out;    
}

#rando-color h3 {
    font-family: "Fira Sans";
    font-size: 1.4vw;
    font-weight: 400;
}

#rando-color:hover {
    transform: scale(1.2);
    filter: unset;
    cursor: pointer;
}
/* END 3 -- MAIN SECTION */

/* 4 -- CAPTION SECTION */
/* 4-A -- CAPTION SECTION PRIME */
.caption-load {
    margin: 4%;
    padding-left: 4%;
    color: whitesmoke;
}

#bio-caption-content,
#sammy-caption-content,
#recipes-caption-content,
#rando-color-caption-content,
#contact-caption-content {
    display: none;
    flex-flow: column;
}

#bio-caption-content.active,
#sammy-caption-content.active,
#recipes-caption-content.active,
#rando-color-caption-content.active,
#contact-caption-content.active {
    display: flex;
}

.caption-load h3.caption-title {
    font-family: "Fira Sans";
    font-size: 2.5vw;
    letter-spacing: 0.15ch;
}

p.caption-p {
    font-family: "Zen Old Mincho";
    font-size: 1.75vw;
    letter-spacing: 0.1ch;
}

#contact-caption-content {
    justify-self: flex-end;
    line-height: 2;
}
/* END 4-A -- CAPTION SECTION PRIME*/

/* 4-B -- CONTACT SECTION */
.contact-block {
    background-color: var(--dark-liver);
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1%;
    font-family: "Fira Sans";
    color: whitesmoke;
    min-width: 325px;
    max-width: 750px;
    width: 50%;
    height: 45vh;
    /* min-height: 100%; */
    max-height: 100%;
    border-radius: 10px;
    position: absolute;
    top: 45vh;
    right: 150vw;
    z-index: 1;
    filter: var(--shadow-6);
    transition: 350ms filter ease-in-out,
                350ms transform ease-in-out,
                750ms top ease-out,
                750ms right ease-out,
                750ms width ease-out,
                750ms height ease-out;
}

.contact-block h3 {
    display: flex;
    font-size: 2.5vw;
    letter-spacing: 0.2ch;
    margin: 1vw 2vw;
}

#contact-form {
    width: 100%;
}

.form {
    display: flex;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 1%;
}

input {
    background-color: whitesmoke;
    display: flex;
    border-radius: 6px;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    font-size: 1.33vw;
    font-family: "Fira Sans";
    box-sizing: border-box;
}

input:focus {
    /* background-color: yellow; */
    background-color: lightyellow;
    outline: none !important;
    border: 3px solid var(--orange-crayola);
    box-shadow: 5px 5px 4px #719ECE;
}

#their-name {
    width: 35%;
    justify-self: flex-start;
}

#their-email {
    width: 60%;
    justify-self: flex-end;
}

#their-subject {
    width: 50%;
    justify-self: flex-start;
}

.form.message {
    justify-content: flex-start;
    align-items: flex-start;
    /* height: 100%; */
    width: 100%;
}

textarea {
    height: 150px;
    max-height: 190px;
    width: 100%;
}

#their-message {
    display: flex;
    border-radius: 6px;
    box-sizing: border-box;
    width: 100%;
    font-family: "Zen Old Mincho";
    font-size: 1.25vw;
    line-height: 1.5;
    overflow: scroll;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
}

#their-message:focus {
    background-color: lightyellow;
    outline: none !important;
    /* border: 2px solid var(--inchworm); */
    border: 3px solid var(--orange-crayola);
    box-shadow: 5px 5px 4px #719ECE;
}

.button-container {
    display: flex;
    /* align-self: center; */
    align-self: flex-end;
    flex-flow: column;
    /* align-items: center; */
    /* justify-self: center; */
    justify-self: flex-end;
    height: 100%;
    margin: 1vw;
    width: max-content;
}

input#contact-submit, 
#contact-reset {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: "Fira Sans";
    align-self: flex-end;
    background-color: var(--orange-crayola);
    box-shadow: 5px 5px 4px #719ECE;
    transition: 125ms box-shadow ease-out,
                125ms transform ease-out;
    align-self: center;
}

#contact-reset {
    background-color: lightgray;
}

input#contact-submit:hover,
#contact-reset:hover {
    background-color: var(--inchworm);
    box-shadow: 3px 3px 1px #719ECE;
    border-color: none;
}

input#contact-submit:active,
#contact-reset:active {
    background-color: var(--bud-green);
    border-color: none;
    transform: translate(2px, 2px);
    box-shadow: none;
}

input#contact-submit:focus,
#contact-reset:focus {
    border-color: none;
}

/* END 4-B -- CONTACT SECTION */

/* END 4 -- CAPTION SECTION */


